/* 
  References
  Strohmann A. (2019). hanged top on brown and white clothes horse. Unsplash. Retrieved from
     https://unsplash.com/photos/hanged-top-on-brown-and-white-clothes-horse-TS--uNw-JqE 
*/

/* header  */
header {
  height: 5vh;
  background-image: none;
}
@media (min-width: 768px) {
  header {
    height: 100vh;
    background-image: url("../img/banner.png");
    /* (Strohmann, 2019). */
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.welcomeWord {
  bottom: 40%;
  left: 25%;
  width: 50%;
}
.nav-item .btn-link:hover {
  text-decoration: none;
  color: black;
}

.nav-item .btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}

/* main */
.list-group {
  padding: 3%;
}
main .list-title {
  font-size: 17px;
  font-weight: 600;
}
.list-group-item {
  font-size: 13px;
  text-align: center;
}
.list-group-item .btn-link {
  color: black;
  font-size: 13px;
  padding: 0;
}
.list-group-item .btn-link:hover {
  text-decoration: none;
  color: black;
}
.list-group-item .btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}
.pagination .btn-link {
  color: black;
}
.pagination .btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}
