/* header  */
header {
  height: 60px;
  max-height: 60px;
  z-index: 1000;
}
@media (min-width: 1024px) {
  .form-inline {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .form-inline {
    width: 35%;
  }
}

/* main */
main {
  margin-top: 20%;
}
@media (min-width: 768px) {
  main {
    margin-top: 12%;
  }
}
@media (min-width: 1200px) {
  main {
    margin-top: 7%;
  }
}
.carousel-item {
  width: 520px;
  height: 100%;
}
@media (min-width: 576px) {
  .carousel-item {
    width: 730px;
    height: 700px;
  }
}
.list-group {
  padding: 3%;
}
/* .list-group-item-action:active {
  border: 1px solid #e9ecef;
} */
main .card {
  position: static;
}
main .card .card-body .list-group-item {
  border: none;
}
.price {
  font-size: 25px;
  font-weight: 500;
}
.alert-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.card {
  z-index: -10;
}

/* footer  */
footer .list-group-item {
  font-size: 13px;
}
